<ion-header>
    <ion-toolbar color="success">
        <ion-buttons slot="start">
            <ion-back-button text=""></ion-back-button>
        </ion-buttons>
        <ion-title>pickup-call</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <img src="..\..\assets\img\map.jpg">
    <ion-card>
        <ion-card-content>
            <p>Address: Hill top</p>
            <p>COmpement: C68</p>
            <p>Neighborhood: neighborhood</p>
            <p>Zip code: 237</p>
            <p>City: Dschang</p>
        </ion-card-content>
    </ion-card>
    <ion-list>
        <ion-item lines="inset">
            <ion-label position="floating"></ion-label>
            <ion-textarea></ion-textarea>
        </ion-item>
    </ion-list>
    <ion-button size="full" color="success" (click)="home()">Create pickup-call</ion-button>
</ion-content>